.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/**********************Navbar******************/
.logo {
  width: 5rem;
  height: 5rem;
}

.logo_link {
  width: 40px;
  height: 40px;
}
/*************Menu Links**************/
nav a.nav-link {
  cursor: pointer;
}

nav ul li {
  /* margin-right: 2px;
  margin-left: 2px; */
  text-transform: uppercase;
}

.navbar-nav > li > a {
  color: grey !important;
  /* border-top: 3px solid darkgray; */
}

.navbar-nav {
  margin-left: auto;
}

/* .navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
} */

/* .navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-top: 3px solid grey;
} */

.navbar-nav > li > a:hover {
  border-top: 3px solid grey;
}
