.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* :root {
} */

/* .body {
  background: url(jrpg_background.png) no-repeat;
} */
/**********************Navbar******************/
.logo {
  width: 5rem;
  height: 5rem;
}

.logo_link {
  width: 40px;
  height: 40px;
}
/*************Menu Links**************/
/* nav a.nav-link {
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  color: grey !important;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav > li > a:hover {
  border-top: 3px solid grey;
} */

.ml-auto > a:hover {
  border-top: 3px solid #808080;
  transform: scale(1.1);
  transition: transform 500ms ease;
}
/**********************Header******************/
.header-wrapper {
  position: relative;
  background: url(jrpg_background.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 83vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 10;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/**********************Footer******************/
.footer {
  background-color: #f8f9fa;
  font-size: xx-large;
  padding-top: 10px;
}

.footer > :hover {
  transform: scale(1.5);
  color: black;
  transition: transform 500ms ease;
}

.icon-links {
  color: #808080;
  margin-left: 30px;
  cursor: pointer;
}
/**********************Project******************/
.project {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  background: url(jrpg_background.png) no-repeat;

  transition: transform 500ms ease;
}

.projectTitle {
  position: relative;
  background: url(jrpg_background.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.button {
  cursor: pointer;
}

.project > :hover {
  transform: scale(1.05);
  border: 3px solid black;
  border-radius: 1%;
  transition: transform 500ms ease;
}
/**********************Contact******************/
.stayInfo {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.contactCSS {
  position: relative;
  background: url(jrpg_background.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 83vh;
}

.stay {
  margin: auto;
  color: whitesmoke;
}
